<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>25812727980-75deburdmf32i0rgu4fv324adklmorad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25812727980-75deburdmf32i0rgu4fv324adklmorad</string>
	<key>API_KEY</key>
	<string>AIzaSyAi5cdcVKY1_bINQJjyuJfiVxWhzRaFS_0</string>
	<key>GCM_SENDER_ID</key>
	<string>25812727980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fc.fcdashboard</string>
	<key>PROJECT_ID</key>
	<string>fcdashboard-a0ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>fcdashboard-a0ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25812727980:ios:f226776a57d62faf3fc709</string>
</dict>
</plist>